/* Стили компонента
=========================================================== */
.s_tasks { margin-top: 15px; }
.s_tasks *,
::before,
::after { margin: 0; padding: 0; outline: none; box-sizing: border-box; }

.s_tasks__item { margin-top: 5px; max-width: 820px;}
.s_tasks__item:first-child { margin-top: 0; }

/* Кнопка */
.s_tasks__item__title { display: block; position: relative; width: 100%; height: 30px; padding: 0 14px 0 29px; font-size: 13px; color: #fff; text-align: left; white-space: nowrap; line-height: 28px; text-overflow: ellipsis; overflow: hidden; background: #1799D7; border: 1px solid transparent; border-radius: 4px; transition: 0.3s all; z-index: 10; }
.s_tasks__item__title.stage  { color: #000; background-color: transparent; border-color: #D6D8D7; }
.s_tasks__item__title:hover { cursor: pointer; box-shadow: inset 0 0 0 50px rgba(255,255,255,0.2); }
.s_tasks__item__title:active { box-shadow: inset 0 0 0 20px rgba(0,0,0,0.2); }

.s_tasks__item__title.stage::after,
.s_tasks__item__title.stage::before { background-color: #A6A5AA; }
.s_tasks__item__title::before,
.s_tasks__item__title::after { display: block; position: absolute; content: ' '; top: 50%; background-color: #fff; transition: 0.3s all; }
.s_tasks__item__title::before { left: 14px; width: 2px; height: 16px; margin-top: -8px; }
.s_tasks__item__title::after { left: 7px; width: 16px; height: 2px; margin-top: -1px; }

/*.s_tasks__item.open > .s_tasks__item__title { color: #000; background-color: transparent; border-color: #D6D8D7; }*/
.s_tasks__item.open > .s_tasks__item__title:hover { border-color: #aaa; box-shadow: none; }
.s_tasks__item.open > .s_tasks__item__title:active { background-color: rgba(0,0,0,0.1); }

.s_tasks__item.open > .s_tasks__item__title::before { opacity: 0; transform: scale(0.5); }
/*.s_tasks__item.open > .s_tasks__item__title::after { background-color: #A6A5AA; }*/

/* Контент */
.s_tasks__item__content { position: relative; top: -20px; height: 0; padding: 0; overflow: hidden; visibility: hidden; opacity: 0; z-index: 5; transition: 0.3s all; }
.s_tasks__item.open > .s_tasks__item__content { top: 0; height: auto; padding: 7px 0; overflow: visible; visibility: visible; opacity: 1; }

/* Дерево */
.s_tasks__tree {  }
.s_tasks__tree__item { margin-top: 7px; }
.s_tasks__tree__item:first-child { margin-top: 0; }
.s_tasks__tree__item__title { display: block; position: relative; height: 24px; margin: 7px 0 0 2px; padding-left: 60px; font-size: 13px; color: #007BAC; text-decoration: none; white-space: nowrap; line-height: 24px; text-overflow: ellipsis; overflow: hidden; transition: 0.3s all; }
.s_tasks__tree__item__title:first-child { margin-top: 0; }
.s_tasks__tree__item__title:hover { cursor: pointer; opacity: 0.75; }
.s_tasks__tree__item__title:active { opacity: 0.5; }

.s_tasks__tree__item__title::before,
.s_tasks__tree__item__title::after { display: block; position: absolute; content: ' '; top: 0; width: 24px; height: 24px; background-color: #eee; border-radius: 100%; }
.s_tasks__tree__item__title::before { left: 0; }
.s_tasks__tree__item__title::after { left: 29px; }

.s_tasks__tree__item__title > i { display: block; position: absolute; top: 50%; left: 11px; width: 12px; height: 4px; margin-top: -2px; background-color: #727271; border-radius: 2px; }
.s_tasks__tree__item__title > i::before,
.s_tasks__tree__item__title > i::after { display: block; position: absolute; content: ' '; left: 0; width: 4px; height: 11px; background-color: #727271; border-radius: 2px; }
.s_tasks__tree__item__title > i::before { top: -9px; }
.s_tasks__tree__item__title > i::after { bottom: -9px; }
.s_tasks__tree__item__title:last-child > i::after { display: none; }

.s_tasks__tree__item__sub { margin-top: 7px; }
.s_tasks__tree__item__sub .s_tasks__tree__item__title { padding-left: 89px; }
.s_tasks__tree__item__sub .s_tasks__tree__item__title::before { left: 29px; }
.s_tasks__tree__item__sub .s_tasks__tree__item__title::after { left: 58px; }